:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header {
    height: 80px;
  }

  .content {
    flex: 1;
    overflow: auto;
  }

  .footer {
    height: 50px;
  }
}
